@import url('index.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Inner;
  src: url('./fonts/static/Inter-Regular.ttf');
}
* {
  font-family: Inner;
}
@layer components {
  .lading-page {
    background-image: linear-gradient(
        to right,
        rgb(37, 44, 51, 0.52),
        rgb(255, 255, 255, 0.52)
      ),
      url('./../public/Img/Versys-650-2-1.jpg');

    background-size: cover;
  }
}
