@import url('index.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Inner;
  src: url('./fonts/static/Inter-Regular.ttf');
}
* {
  font-family: Inner;
}

@layer components {
  .Payment-Box-Shadow {
    -webkit-box-shadow: 7px 8px 15px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 7px 8px 15px 6px rgba(0, 0, 0, 0.5);
  }
}
